* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(#c33764, #1d2671);
    display: flex;
/*     justify-content: center;
    align-items: center; */
}

.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -100%, rgb(67, 54, 74) 16.4%);
    text-align: right;
    pointer-events: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.btn-yellow {
    background: #be5e09;
    color: #ffffffd3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.btn-grey {
    background: #e4e4e4;
    color: rgba(0, 0, 0, 0.596);

}

.btn-equal {
    background: #006400;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.btn-clear {
    background: #8b0000;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

